<?xml version = "1.0" encoding = "UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.crionuke.bolts" level="DEBUG" />
    <logger name="com.omgameserver.examples.echoserver" level="INFO" />

    <logger name="com.omgameserver.engine.core" level="INFO" />
    <logger name="com.omgameserver.engine.lua.msgpack" level="INFO" />
    <logger name="com.omgameserver.engine.lua.runtime" level="INFO" />
    <logger name="com.omgameserver.engine.lua.udp" level="INFO" />
    <logger name="com.omgameserver.engine.udp" level="INFO" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>